<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Tickets - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="logo-container">
                <img src="/static/images/logo.png" alt="Logo de la Empresa" class="logo">
            </div>
            <h1>SOPORTE TI STD</h1>
            <form method="POST" action="/validate">
                <input type="text" name="username" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>
            </form>
            
        </div>
        <footer>
            © 2025 SOPORTE TI STD. Desarrollado por <b>Alejandro Machuca</b>.
        </footer>
    </div>
</body>
</html>
